extends layout

block content

  link(rel='stylesheet', href='http://localhost:3000/stylesheets/styleArtigo.css')
  h1.center= name
  p.center Pagina principal de #{name}
  a.center(href="http://localhost:3000/logout") Logout
  br
  ul
    for item in items
        br
        li= item.name
        li= item.description
        li= item.category
        li= item.bids
        li= item.createdOn
        li= item.minimum
        li= item.expires
        li= item.cancelled
